
@import url('https://fonts.googleapis.com/css?family=Aleo|Lato|Muli|Open+Sans|Oxygen|Roboto|Roboto+Condensed|Thasadith');

body{
	 font: 15px/1.5 Roboto, Roboto COndensed, Aleo, Thasasith, Oxygen, Muli, Lato, Open Sans-serif;
	 margin: 0;
	 padding: 0;
	 background-color: #f4f4f4;
	}

h1, h2, h3, h4, h5, h6, p{
	color: #2e2e2e;
}
h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.4em;
}

.text-color{
	color: #e8491d ;
}

.nsbtn{
	height: 38px;
	background: #e8491d;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	border: 0;
	padding-left: 20;
	padding-right: 20;
}

/* Header */
header{
	border-bottom: 3px solid #e84d1d;
	margin-top: 10px;
}


header .container .row .col-md-5 .logo img{
	height: 120px;
}

/* Nav Menu */

nav{
	border-bottom: 3px solid #e84d1d;
	background-color: #2e2e2e;

}

nav .site-nav a:hover{
	color: #e84d1d;
}

.fa-bars{
	text-align: right;
	float: right;
}

/* Show Case */
#showcase{
	height: 400px;
	background: url("../images/mortgage-broker-blog.jpg") no-repeat -1000px -500px;
	text-align: center;
	

} 


#showcase h3{
	margin-top: 100px;
	font-size: 40px;
	margin-bottom: 10px;
	color: #ffffff;

}
#showcase p{
	margin-top: 50px;
}
#showcase .nsbtn{
	margin-top: 50px;

}

/* News Letter */

#newsletter{
	padding: 15px;
	color: #ffffff;
	background-color: #35424a;
}
#newsletter h3{
	float: left;
	text-transform: uppercase;
}
#newsletter form{
	float: right;
	/*margin: 15px;*/
}

#newsletter form input[type="email"]{
	padding: 4px;
	width: 230px;
	margin: 4px;
}

.site-article{
	margin-top: 10px;
	margin-bottom: 20px;
}


.site-article .container .row .articletitle{
	text-align: center;
	margin-bottom: 10px;
}

/*  Interest Rate logos */
.interestrates .container .row .interestHeading .h3{
	margin-top: 10px;
	text-align: center;

}
.cmpname img{
	width: 120px;
}

.footer-section{
	background-color: #2e2e2e;

}
.footer-section .footer-link{
	margin-top: 20px;
}
.footer-section h3{
	text-align: center;
	color: #fff;
}

.footer-section .footer-link ul li{
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: -20px;
}

/* Social Footer Icon */
.fa-facebook-f{ font-size: 1.4em; color: rgb(59, 89, 152);}
.fa-instagram{ font-size: 1.4em; color: rgb(195, 42, 163);}
.fa-google-plus-g{ font-size: 1.4em; color: rgb(221, 75, 57);}
.fa-twitter{font-size: 1.4em; color: rgb(29, 161, 242);}
.fa-pinterest{font-size: 1.4em; color: rgb(189, 8, 28);}
.fa-github{font-size: 1.4em; color: rgb(33, 31, 31);}

/* Media */
@media(max-width: 760px) {
	header .container .row .col-md-5 .logo img{
	margin: 0px;
	width: 100%;
	}
	#showcase .nsbtn{
		margin-top: 5px;
	}
	#showcase p{
		margin-top:30px;
		text-align: left;
	}
	#showcase h3{
		font-size: 35px;
		margin-top: 10px;
	}

	#showcase{
		height: 300px;
	}

	#newsletter h3{
		font-size: 18px;
		text-align: center;
		margin-left: 15px;
		margin-bottom: 15px;
	}
	#newsletter form{
		float:left;
	}
	.site-article .blogpost{
	margin-top: 10px;
	margin-bottom: 10px;
	}
	.site-article .blogpost .nsbtn{
		margin-left: 130px;
	}

	.footer-section .footer-link h3{
	text-align: center;
	color: #fff;
	margin-left: -35px;
	}

	.cmpname{
		margin-top: 0;
		font-size: 12px;

	}
	.comparerates{
		display: none;
	}
	.cmprating{
		display: none;
	}
	.cmprates{
		font-size: 12px;
		margin-top: 0;
	}
	.cmpwebsite{
		font-size:12px;
	}
	.interestrates .container .row .interestHeading .h3{
	margin-top: 10px;
	text-align: center;
	font-size: 25px;

}
}
